@import "tailwindcss";

:root {
    --background: #e8e8e2;
    --foreground: #4c0308;
}

body {
    background: var(--background);
    color: var(--foreground);
    scroll-behavior: smooth;
    @apply antialiased;
}